<h1 class="text-center">Your request for an invite is pending!</h1>

<p>
  Thank you for requesting an invite to view my KittyCam. You can expect an email shortly with more information about this project. If it's been a while since you requested your invite, or if you have questions, feel free to email me at <%= mail_to "amira.dhaile@gmail.com" %> or <%= link_to "@mention me on Twitter", "http://twitter.com/home?status=@amirahaile I want to see your cat's laser toy!", target: "_blank" %>.
</p>

<p>
  In the meantime, feel free to browse archived videos from my KittyCam.
</p>
