<!-- email me for follow-up -->
<!-- @mention me on twitter to bug me -->
<!-- thank you -->
<!-- your request was sent -->
<!-- what to expect -->
<!-- link to video archive -->

<h1>Your request for an invite is pending!</h1>
