<div class="container-fluid">
  <div class="bot-container row">
    <div class="bot-video center-block no-float">
      <iframe src="http://www.ustream.tv/embed/21436613?html5ui&autoplay=true" style="border: 0 none transparent;"  webkitallowfullscreen allowfullscreen frameborder="no" width="720" height="405"></iframe><br />
    </div>
  </div>

  <!-- archived videos -->
  <div class="row videos" id="videos">
    <div class="col-sm-3 video-col">
      <div class="thumbnail-vid"></div>
      <time datetime="2015-10-24 08:00">10.24.2015 | 8:00 am</time>
    </div>
    <div class="col-sm-3 video-col">
      <div class="thumbnail-vid"></div>
      <time datetime="2015-10-24 08:00">10.24.2015 | 8:00 am</time>
    </div>
    <div class="col-sm-3 video-col">
      <div class="thumbnail-vid"></div>
      <time datetime="2015-10-24 08:00">10.24.2015 | 8:00 am</time>
    </div>
    <div class="col-sm-3 video-col">
      <div class="thumbnail-vid"></div>
      <time datetime="2015-10-24 08:00">10.24.2015 | 8:00 am</time>
    </div>
  </div>

  <!-- control panel -->
  <div class="row controls" id="controls">

    <!-- scheduler -->
    <div class="col-sm-4">
      <div class="schedule">
        <h3 class="headline">Next Scheduled Playtime</h3>
        <span class="divider"></span>
        <time class="date">
          Today <br> 8PM, 2 min
        </time>

        <br><br>

        <%= button_tag "Reschedule", class: "btn btn-default" %>
      </div>
    </div>

    <!-- on/off button & drag down -->
    <div class="col-sm-4 text-center controls-center">
      <%= button_tag "Start", class: "btn btn-success", id: "btn-io" %>
      <br>
      <div class="pull-video">
        <h3> <%= link_to "Archived Videos", "", id: "video-archive" %> </h3>
        <span class="glyphicon glyphicon-menu-down pull-down-arrow" aria-hidden="true"></span>
      </div>
    </div>

    <!-- mouse controls -->
    <div class="col-center col-sm-4">
      <h2 class="special text-center">Coming Soon</h2>
      <span class="disabled"></span>
      <!-- thank you Peiwen Lu for the key styling -->
      <!-- http://codepen.io/P233/pen/qEagi?editors=110 -->
      <div class="keyboard">
        <div class="key" id="key-up">
          <div class="keycap">
            <span class="key-center glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
          </div>
        </div>

        <br>

        <div class="bottom-keys">
          <div class="key" id="key-left">
            <div class="keycap">
              <span class="key-center glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
            </div>
          </div>

          <div class="key" id="key-down">
            <div class="keycap">
              <span class="key-center glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            </div>
          </div>

          <div class="key" id="key-right">
            <div class="keycap">
              <span class="key-center glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
