<nav class="navbar">
  <div class="container-fluid text-right">
    <%= link_to() do %>
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      Account
    <% end %>
    |
    <%= link_to "Logout", logout_path %>
  </div>
</nav>
