// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-oauth {
  margin: 0 0 10px 0;
  padding: 14px 12px;
}

.btn-login, .btn-register {
  margin-top: 20px;
  padding: 14px;
}

.btn-login {
  margin-right: 63px;
  padding-right: 12px;
}

.btn-register {
  padding-left: 12px;
}

.form-signup {
  display: none;
}
