// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// LOGIN PAGE
.login {
  background-color: rgba(255, 255, 255, .4);
  border-radius: 5px;
  padding: 17px;
  margin: 20px;
  height: 60%;
}

.btn-oauth {
  margin: 0 0 10px 0;
  padding: 14px 12px;
  color: #fff;
}

.btn-login, .btn-register {
  margin-top: 20px;
  padding: 14px;
}

.btn-login {
  margin-right: 63px;
  padding-right: 12px;
}

.btn-register {
  padding-left: 12px;
}

#form-signup, #form-login {
  display: none;
}

#btn-login-fb {
  background-color: #425f9c;
}

#btn-login-github {
  background-color: #333;
}

#btn-login-twitter {
  background-color: #55acee;
}

.required {
  color: red;
}

// SETTINGS PAGE
.settings {
  background-color: lighten(#C2E7DA, 5%);
  padding: 12% 7% 7% 7%;
  border: 1px solid darken(#C2E7DA, 10%);
  border-top-color: transparent;
}

.table-invites {
  display: none;
}
